[run]
branch = True
source = app

omit = 
    tests/*
    app/forms.py
    app/view/*
    app/extensions.py
    app/templates/*
    app/static/*
    */__pycache__/*
    *.pyc
    */__init__.py
    **/__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    ^import .*$
    ^from .* import .*$
    class .*\bProtocol\)
    @(abc\.)?abstractmethod
    if TYPE_CHECKING:
    pass
    if __name__ == .__main__.:

show_missing = True
skip_covered = False
skip_empty = True
