name: Run tests and checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install coverage coverage-badge

      - name: Run tests and generate coverage
        working-directory: ./project
        run: |
          python -m coverage run -m unittest discover tests
          python -m coverage report
          python -m coverage xml

      - name: Generate Coverage Badge
        working-directory: ./project
        run: |
          mkdir -p ../.github/badges
          coverage-badge -f -o ../.github/badges/coverage.svg

      - name: Log coverage percentage
        working-directory: ./project
        run: |
          coverage report | grep TOTAL | awk '{print $NF}' | sed 's/%//' | xargs -I {} echo "Coverage Percentage: {}%"

      - name: Commit the badge (if it changed)
        run: |
          cd ${GITHUB_WORKSPACE}
          echo "project/.coverage" >> .gitignore
          echo "project/coverage.xml" >> .gitignore
          
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          
          git add .github/badges/coverage.svg
          # Check if there are changes to commit
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Update coverage badge [skip ci]"
            git push
          fi

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: python-coverage-report
          path: project/coverage.xml